<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
hi from protein
<form method="POST">
    {% csrf_token %}
    {{pf}}
    <input type="submit" value="save">

</form>

{% for i in pros %}
<p>
   comment id :  {{i.protein_id}} <br> 
   comment content :  {{i.aas}} <br> 
   comment updateDate : {{i.dna}} <br> 
   comment updateDate : {{i.content}} <br> 
   comment updateDate : {{i.updated_Date}} <br> 
   comment createdDate : {{i.createed_Date}}</p>
<hr>
{% endfor %}
<li><a href="{% url 'ind' %}">Home</a></li>
</body>
</html>